@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply inline-flex shrink-0 cursor-pointer select-none items-center justify-center border-transparent text-center transition-all duration-200 min-h-12 rounded ease-out font-mono text-[15px];
  }
  .btn-outline {
    @apply border border-green-700 dark:border-primary hover:border-primary hover:bg-secondary hover:text-primary dark:text-primary dark:hover:bg-accent;
  }
  .writing-mode {
    text-orientation: sideways;
  }
  .writing-mode {
    writing-mode: vertical-lr;
  }
}
@layer utilities {
  .container {
    @apply max-w-[90%] lg:max-w-[75%] mx-auto w-full pt-[100px];
  }
}

html {
  scroll-behavior: smooth;
}
